<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>transfer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="screen" href="../css/main.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="main.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="navbar">
        <div class="country-menu-btn">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
          </div>
        <div class="navbar-menu-btn">
            <div class="line4"></div>
            <div class="line5"></div>
            <div class="line6"></div>
        </div>
        <div class="country-menu">
          <h3><a href="./england.html">England</a> <br /></h3>
          <h3><a href="./italy.html">italy</a> <br /></h3>
          <h3><a href="./france.html">France</a> <br /></h3>
          <h3><a href="./netherlands.html">Netherlands</a> <br /></h3>
          <h3><a href="./ukraine.html">Ukraine</a> <br /></h3>
          <h3><a href="./argentina.html">Argentina</a> <br /></h3>
          <h3><a href="./spain.html">Spain</a> <br /></h3>
          <h3><a href="./germany.html">Germany</a> <br /></h3>
          <h3><a href="./portugal.html">Portugal</a> <br /></h3>
          <h3><a href="./brazil.html">Brazil</a> <br /></h3>
          <h3><a href="./russia.html">Russia</a> <br /></h3>
          <h3><a href="./other.html">Other</a> <br /></h3>
        </div>
        <div class="navbar-menu">
          <h3><a href="../clubs.html">CLUBS</a></h3>
          <h3><a href="../latest-transfers.html">LATEST TRANSFERS</a></h3>
          <h3><a href="../players.html">PLAYERS</a></h3>
          <h3><a href="../U-20 players.html">U-20 PLAYERS</a></h3>
          <h3><a href="../tryouts.html">TRYOUTS</a></h3>
          <h3><a href="../stats.html">STATS</a></h3>
          <h3><a href="../about.html">ABOUT US</a></h3>
        </div>
        <div class="icon">
          <a href="/">
            <img src="../img/12252568_173-removebg-preview.png" alt="" />
          </a>
        </div>
        <div class="links">
          <div><a href="../clubs.html">CLUBS</a></div>
          <div><a href="../latest-transfers.html">LATEST TRANSFERS</a></div>
          <div><a href="../players.html">PLAYERS</a></div>
          <div><a href="../U-20 players.html">U-20 PLAYERS</a></div>
          <div><a href="../tryouts.html">TRYOUTS</a></div>
          <div><a href="../stats.html">STATS</a></div>
          <div><a href="../about.html">ABOUT US</a></div>
        </div>
      </div>
      <div class="country-clubs">
        <h2 id="title">Clubs by country</h2>
        <div class="country">
          <div>
            <h3><a href="#">England</a> <br></h3>
            <h3><a href="./italy.html">italy</a> <br></h3>
            <h3><a href="./france.html">France</a> <br></h3>
            <h3><a href="./netherlands.html">Netherlands</a> <br></h3>
            <h3><a href="./ukraine.html">Ukraine</a> <br></h3>
            <h3><a href="./argentina.html">Argentina</a> <br></h3>
          </div>
          <div>
            <h3><a href="./spain.html">Spain</a> <br></h3>
            <h3><a href="./germany.html">Germany</a> <br></h3>
            <h3><a href="./portugal.html">Portugal</a> <br></h3>
            <h3><a href="./brazil.html">Brazil</a> <br></h3>
            <h3><a href="./russia.html">Russia</a> <br></h3>
            <h3><a href="./other.html">Other</a> <br></h3>
          </div>
        </div>
      </div>
      <div class="nav">
        <h2>– ENGLAND –</h2>
        <table class="content-nav"></table>
      </div>
      <div class="content" style="margin-top: 170px ;">
        <div class="clubs">
          <div class="club">
            <a href="../country-clubs.html">
              <img src="../img/manchester.logo.png" alt="" />
              Manchester City
            </a>
          </div>
          <div class="club">
            <a href="../country-clubs.html">
              <img src="../img/manchester.logo.png" alt="" />
              Manchester City
            </a>
          </div>
          <div class="club">
            <a href="../country-clubs.html">
              <img src="../img/manchester.logo.png" alt="" />
              Manchester City
            </a>
          </div>
          <div class="club">
            <a href="../country-clubs.html">
              <img src="../img/manchester.logo.png" alt="" />
              Manchester City
            </a>
          </div>
          <div class="club">
            <a href="../country-clubs.html">
              <img src="../img/manchester.logo.png" alt="" />
              Manchester City
            </a>
          </div>
          <div class="club">
            <a href="../country-clubs.html">
              <img src="../img/manchester.logo.png" alt="" />
              Manchester City
            </a>
          </div>
          <div class="club">
            <a href="../country-clubs.html">
              <img src="../img/manchester.logo.png" alt="" />
              Manchester City
            </a>
          </div>
          <div class="club">
            <a href="../country-clubs.html">
              <img src="../img/manchester.logo.png" alt="" />
              Manchester City
            </a>
          </div>
          <div class="club">
            <a href="../country-clubs.html">
              <img src="../img/manchester.logo.png" alt="" />
              Manchester City
            </a>
          </div>
          <div class="club">
            <a href="../country-clubs.html">
              <img src="../img/manchester.logo.png" alt="" />
              Manchester City
            </a>
          </div>
          <div class="club">
            <a href="../country-clubs.html">
              <img src="../img/manchester.logo.png" alt="" />
              Manchester City
            </a>
          </div>
          <div class="club">
            <a href="../country-clubs.html">
              <img src="../img/manchester.logo.png" alt="" />
              Manchester City
            </a>
          </div>
          <div class="club">
            <a href="../country-clubs.html">
              <img src="../img/manchester.logo.png" alt="" />
              Manchester City
            </a>
          </div>
          <div class="club">
            <a href="../country-clubs.html">
              <img src="../img/manchester.logo.png" alt="" />
              Manchester City
            </a>
          </div>
          <div class="club">
            <a href="../country-clubs.html">
              <img src="../img/manchester.logo.png" alt="" />
              Manchester City
            </a>
          </div>
          <div class="club">
            <a href="../country-clubs.html">
              <img src="../img/manchester.logo.png" alt="" />
              Manchester City
            </a>
          </div>
        </div>
      </div>
      <div class="footer state-footer">
        <a href="https://www.facebook.com/topfootballtransfers/">
          <div>
            <i class="fa-brands fa-facebook-f"></i> &nbsp;
              <h3>facebook</h3>
          </div>
        </a>
        <a href="https://www.instagram.com/topfootballtransfers/">
          <div>
            <i class="fa-brands fa-instagram"></i> &nbsp;
            <h3>Instagram</h3>
          </div>
        </a>
      </div>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </div>
  </body>
  <script src="../js/main.js"></script>
</html>
