{% extends 'header.html' %}

{% block content %}
<div class="nav">
    <h2>– LATEST TRANSFERS –</h2>
    <table class="players">
           {% for transfer in transfers %}
        <tr>

            <td>{{transfer.player.ism}}</td>
            <td>{{transfer.club_eski.nom}}</td>
            <td>{{transfer.club_yangi.nom}}</td>
            <td>{{transfer.narx}}</td>
            <td>{{transfer.taxmin_narx}}</td>

        </tr>
        {% endfor %}
        </tr>
    </table>
</div>
<div class="latest-transfers">

    <table class="players">
        <tr>
            <td>1 Jack Grealish</td>
            <td>Aston villa</td>
            <td>Man City</td>
            <td>117,5</td>
            <td>65</td>
        </tr>
    </table>
    <hr>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae soluta sequi quia eos cupiditate rerum accusantium
        odit enim, expedita, architecto error dignissimos voluptatibus. Nisi illo, maiores fugit amet neque eveniet!</p>
</div>
{% endblock %}