{% extends 'header.html' %}

{% block content %}
<div class="nav">
    <h2>– LATEST TRANSFERS –</h2>
    <table class="content-nav">
        <thead>
        <tr>
            <td>#player</td>
            <td>from</td>
            <td>to</td>
            <td>
                transfer fee, <br/>
                mill. euro
            </td>
            <td>
                transfer fee, <br/>
                mill. euro, <br/>
                by tft.com
            </td>
        </tr>
        </thead>
    </table>
</div>
<div class="latest-transfers">

    <table class="players">
        <tr>
            <td>1 Jack Grealish</td>
            <td>Aston villa</td>
            <td>Man City</td>
            <td>117,5</td>
            <td>65</td>
        </tr>
    </table>
    <hr>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae soluta sequi quia eos cupiditate rerum accusantium
        odit enim, expedita, architecto error dignissimos voluptatibus. Nisi illo, maiores fugit amet neque eveniet!</p>
</div>
{% endblock %}