{% extends 'header.html' %}

{% block content %}
      <div class="nav">
          <h2>– TRANSFER RECORDS –</h2>
          <table class="content-nav">
            <thead>
              <tr>
                <td>#player</td>
                <td>from</td>
                <td>to</td>
                <td>
                  transfer fee, <br />
                  mill. euro
                </td>
                <td>
                  season
                </td>
              </tr>
            </thead>
          </table>
        </div>
      <div class="latest-transfers">
        <table class="top-players" style="padding-top:80px;">
            {% for transfer in transfers %}
          <tr>
            <td>{{ transfer.ism }}</td>
            <td>{{transfer.club_eski}}</td>
            <td>{{transfer.club_yangi}}</td>
            <td>{{transfer.narx}}</td>
            <td>{{transfer.taxmin_narx}}</td>
          </tr>
            {% endfor %}
        </table>
        <hr>
        <p>It is a list of the most expensive transfers of all time. The minimum transfer value is 50 million euro.</p>
      </div>
      {% endblock %}