{% extends 'header.html' %}

{% block content %}
<div>
<hr>
        <h2><a href="#">Transfers archive</a></h2>
      </div>
      <div class="nav">
        <h2>– TRANSFERS ARCHIVE –</h2>
        <table class="content-nav"></table>
      </div>
      <div class="content">
        <div class="stats">
          <div>
            <a href="{% url 'season2017_18' %}">Season 2017-18</a>
          </div>
          <div>
            <a href="{% url 'season2018_19' %}">Season 2018-19</a>
          </div>
          <div>
            <a href="{% url 'season2019_20' %}">Season 2019-20</a>
          </div>
          <div>
            <a href="{% url 'season2020_21' %}">Season 2020-21</a>
          </div>
          <div>
            <a href="/latest/">Latest-transfers</a>
          </div>
        </div>
      </div>
     {% endblock %}