<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="World Top transfers">
    <meta name="keywords" content="football,clubs, football club,Real Madrid, football transfer, top transfers,">
    <link rel="icon" href="./img/inter.logo.png">
    <meta name="author" content="Ali Egamberdiyev">
    <title>tryouts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="screen" href="css/main.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="main.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="navbar">
        <div class="country-menu-btn">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
        <div class="navbar-menu-btn">
            <div class="line4"></div>
            <div class="line5"></div>
            <div class="line6"></div>
        </div>
        <div class="country-menu">
          <h3><a href="./countries/england.html">England</a> <br /></h3>
          <h3><a href="./countries/italy.html">italy</a> <br /></h3>
          <h3><a href="./countries/france.html">France</a> <br /></h3>
          <h3><a href="./countries/netherlands.html">Netherlands</a> <br /></h3>
          <h3><a href="./countries/ukraine.html">Ukraine</a> <br /></h3>
          <h3><a href="./countries/argentina.html">Argentina</a> <br /></h3>
          <h3><a href="./countries/spain.html">Spain</a> <br /></h3>
          <h3><a href="./countries/germany.html">Germany</a> <br /></h3>
          <h3><a href="./countries/portugal.html">Portugal</a> <br /></h3>
          <h3><a href="./countries/brazil.html">Brazil</a> <br /></h3>
          <h3><a href="./countries/russia.html">Russia</a> <br /></h3>
          <h3><a href="./countries/other.html">Other</a> <br /></h3>
        </div>
        <div class="navbar-menu">
          <h3><a href="./clubs.html">CLUBS</a></h3>
          <h3><a href="./latest-transfers.html">LATEST TRANSFERS</a></h3>
          <h3><a href="./players.html">PLAYERS</a></h3>
          <h3><a href="./U-20 players.html">U-20 PLAYERS</a></h3>
          <h3><a href="./tryouts.html">TRYOUTS</a></h3>
          <h3><a href="./stats.html">STATS</a></h3>
          <h3><a href="./about.html">ABOUT US</a></h3>
        </div>
        <div class="icon">
          <a href="./index.html">
            <img src="img/12252568_173-removebg-preview.png" alt="" />
          </a>
        </div>
        <div class="links">
          <div><a href="./clubs.html">CLUBS</a></div>
          <div><a href="./latest-transfers.html">LATEST TRANSFERS</a></div>
          <div><a href="./players.html">PLAYERS</a></div>
          <div><a href="./U-20 players.html">U-20 PLAYERS</a></div>
          <div class="navActive"><a href="#">TRYOUTS</a></div>
          <div><a href="./stats.html">STATS</a></div>
          <div><a href="./about.html">ABOUT US</a></div>
        </div>
      </div>
      <div class="country-clubs">
        <h2 id="title">Clubs by country</h2>
        <div class="country">
          <div>
            <h3><a href="./countries/england.html">England</a> <br></h3>
            <h3><a href="./countries/italy.html">italy</a> <br></h3>
            <h3><a href="./countries/france.html">France</a> <br></h3>
            <h3><a href="./countries/netherlands.html">Netherlands</a> <br></h3>
            <h3><a href="./countries/ukraine.html">Ukraine</a> <br></h3>
            <h3><a href="./countries/argentina.html">Argentina</a> <br></h3>
          </div>
          <div>
            <h3><a href="./countries/spain.html">Spain</a> <br></h3>
            <h3><a href="./countries/germany.html">Germany</a> <br></h3>
            <h3><a href="./countries/portugal.html">Portugal</a> <br></h3>
            <h3><a href="./countries/brazil.html">Brazil</a> <br></h3>
            <h3><a href="./countries/russia.html">Russia</a> <br></h3>
            <h3><a href="./countries/other.html">Other</a> <br></h3>
          </div>
        </div>
      </div>
      <div class="nav">
        <h2>– TRYOUTS –</h2>
        <table class="content-nav"></table>
      </div>
      <div class="content" style="margin-bottom: 15px !important;">
        <h4 style="line-height: 30px">
          The «TopFootballTransfers Agency» is a football agency, located in
          Ukraine, announces tryouts to football players aged 17-20, for sign
          the agreement. The agency specializes in the Ukrainian football clubs,
          which are an excellent springboard for the subsequent transfer to
          «TOP» championships. Fred, Yaya Touré, Alex Teixeira, Fernandinho,
          Willian, Douglas Costa, Henrikh Mkhitaryan, Brown Ideye, Ismaël
          Bangoura, Dieumerci Mbokani, Younès Belhanda, Emmanuel Dennis and many
          other player careers confirmation of this.
        </h4>
        <h4 style="text-align: center; color: red; line-height: 60px">
          <b>Requirements for applicants</b>
        </h4>

        <p>
          <i>- Exceptional technique skills.</i> <br />
          The applicant should provide data on the running period at 30 and 70
          meters, as well as how many meters he can run in 95 minutes with a
          break for 15 minutes after 45 minutes of running.
        </p>
        <p>
          <i>- Excellent physical condition.</i> <br />
          If you are younger than 17, get touch after you turn 17, do not think
          that the chance is lost, the action will last for several years. If
          you are already 21 or older, then the possibility is already lost.
        </p>
        <p>
          <i>- Age. 17-19.</i> <br />
          If you are younger than 17, get touch after you turn 17, do not think
          that the chance is lost, the action will last for several years. If
          you are already 21 or older, then the possibility is already lost.
        </p>
        <p>
          <i>- Agreement/contract.</i> <br />
          A applicant should not have a valid contract/agreement with another
          agency. If it is so, the applicant must terminate it before get a deal
          with the «TopFootballTransfers Agency».
        </p>
        <p>
          <i>- Health status. Excellent health.</i> <br />
          The applicant must provide a scan of the medical certificate. In case,
          the document is not in English, provide a notarized translation.
        </p>
        <p>
          <i>- Purposefulness and responsibility.</i> <br />
          The applicant must have the desire to become a professional, ready to
          train hard, learn from coaches, club leaders and their agents. The
          applicant should not use drugs and other illegals, drink alcohol or
          smoke.
        </p>
        <b>
          If all of the above about you, get in touch
          <a href="#">mail@topfootballtransfers.com</a></b
        ><br>
        <a style="margin-bottom: 100px !important;" href="./courses.html">
          Курсы футбольных агентов в Киеве/Football agent courses in Kiev
        </a>
      </div>
      <div class="footer">
        <a href="https://www.facebook.com/topfootballtransfers/">
          <div>
            <i class="fa-brands fa-facebook-f"></i> &nbsp;
              <h3>facebook</h3>
          </div>
        </a>
        <a href="https://www.instagram.com/topfootballtransfers/">
          <div>
            <i class="fa-brands fa-instagram"></i> &nbsp;
            <h3>Instagram</h3>
          </div>
        </a>
      </div>
    </div>
  </body>
  <script src="js/main.js"></script>
</html>
