{% extends 'header.html' %}

{% block content %}
      <div class="nav">
          <h2>– U-20 PLAYERS –</h2>
          <table class="content-nav">
            <thead>
              <tr>
                <td>#player</td>
                <td>age</td>
                <td>
                  club <br />
                  mill. euro
                </td>
                <td>
                  transfer value, <br />
                  mill. euro
                </td>
              </tr>
            </thead>
          </table>
        </div>
      <div class="content">
        {% for i in players %}
        <table class="playerss">
          <tr>
            <td>{{i.ism}}</td>
            <td>{{i.club.nom}}</td>
            <td>{{i.davlat}}</td>
            <td>{{i.narx}}</td>
            <td>{{i.t_yil}}</td>
          </tr>
          </table>
        {% endfor %}
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae soluta
          sequi quia eos cupiditate rerum accusantium odit enim, expedita,
          architecto error dignissimos voluptatibus. Nisi illo, maiores fugit
          amet neque eveniet!
        </p>
      </div>
       {% endblock %}